<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Avatar</ion-title>
        <ion-buttons slot="end">
           <ion-avatar>
            <ion-img src= "/assets/gohan.jpg"></ion-img>
           </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-chip color="primary" outline="true">
    <ion-avatar>
        <ion-img src= "/assets/gohan.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
</ion-chip>
<ion-chip color="primary" mode="ios" outline="true">
    <ion-avatar>
        <ion-img src= "/assets/gohan.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
</ion-chip>
<ion-list *ngFor="let item of [1,1,1,1,1,1]">
   <ion-item>
    <ion-avatar slot="start">
        <ion-img src= "/assets/gohan.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Gohan</ion-label>
   </ion-item>
</ion-list>

</ion-content>