<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item  color="primary">
      <ion-label>Marcador</ion-label>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae earum, dignissimos officiis cum mollitia placeat ipsa labore corporis nostrum adipisci quis laboriosam libero neque optio ad illum excepturi. Odit, adipisci.
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Awesome content
  </ion-card-content>
</ion-card>
<img src="/assets/gohan.jpg" alt="">
<ion-card-content>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia cum dolorem reprehenderit, architecto obcaecati accusantium dolorum optio voluptas, exercitationem necessitatibus, vitae cupiditate facere libero tenetur ad minima dolor quisquam quas.
</ion-card-content>
</ion-content>